# compiled files:
*.o
*.so
*.a
# temporary files:
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*
# tex files:
*.log
*.dvi
*.aux
*.blg
*.idx
*.nav
*.out
*.toc
*.snm
*.vrb
# eclipse files:
*.cproject
*.project
# misc:
.DS_Store
Trash
# doconce:
.*_html_file_collection

*.copyright

*.copyright

*.exerinfo

doc/Projects/2016/Project2/.out.copyright

doc/Projects/2016/Project2/.project2_2016.copyright

*.exerinfo

*.dlog



*.user

doc/Programs/ParallelizationMPI/dill10
